@import url(//fonts.googleapis.com/css?family=Asap:700,400);

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
	background-color: #fff;
	font: 13.34px Helvetica, Arial, sans-serif;
	font-size: small;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
h2 { 
	margin-bottom: 30px;
	font: normal 31px/35px Asap;
	color: #343434; 
}
h5 {
	font: normal 13px/18px Asap;
	color: #616562;
	text-transform: uppercase;
	margin-bottom: 17px;
}

.hr {
	overflow: hidden;
	margin: 30px 0px;
	height: 1px;
	background: #ebebeb;
	font-size: 0;
	line-height: 0;
}

p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

#content {
	padding: 73px 0 0 0;
}


/*****************************************************************************/
/*
/* Default Layout
/*
/*****************************************************************************/

.default-layout .main-holder {
	background: #ffffff;
	max-width: 1104px;
	min-height: 100%;
	margin: 0 auto;
}

/*****************************************************************************/
/*
/* Nav
/*
/*****************************************************************************/

@media (min-width: 768px) {
	.navbar-nav.navbar-right:last-child {
		margin-right: 14px;
	}
}

/*****************************************************************************/
/*
/* Border Bar
/*
/*****************************************************************************/

.border-bar {
	margin: 0;
	padding: 0;
	height: 7px;
}

.border-bar li {
	float: left;
	width: 20%;
	height: 7px;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li.yellow {
	background: #f1c40f;
}

li.orange {
	background: #e67e22;
}

li.green {
	background: #2ecc71;
}

li.blue {
	background: #3498db;
}

li.red {
	background: #e74c3c;
}

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

.footer {
	padding: 0;
	border:none;
}

.footer .container {
	border-top: 1px solid #d1d1d1;
	padding: 51px 0 60px 0;
}

.footer-text {
	float: left;
}

.copyright {
	padding: 0;
	color: #545454;
	font-size: 11px;
}

.copyright a {
	color: inherit;
}

nav.footer-nav {
	margin-bottom: 0;
	float: right;
	overflow: hidden;
}

/*****************************************************************************/
/*
/* Superfish
/*
/*****************************************************************************/

.sf-menu {
	float: right;
	line-height: 1.0;
}

.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}


.sf-menu  li {
	position: relative;
	float: left;
}


.sf-menu > li > a {
	font: bold 14px/18px Asap;
	padding: 0;
	border: none;
	color: #616562;
	text-transform: uppercase;
}

.sf-menu > li:hover > ul, .sf-menu > li.sfHover > ul { margin-top:14px; }

.sf-menu > li {
	background-color:transparent;
	margin-left:40px;
}

@media (min-width: 768px) and (max-width: 979px) {
	.sf-menu > li { margin-left:25px; }
}

.sf-menu > li:first-child { margin-left:0; }

.sf-menu > li:first-child:before { display:none; }

.sf-menu > li:before {
	content:'';
	pointer-events:none;
	position:absolute;
	left:-23px;
	top:6px;
	width:6px;
	height:6px;
	background-color:#d2d2d2;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
}

@media (min-width: 768px) and (max-width: 979px) {
	.sf-menu > li:before { left:-15px; }
}

.sf-menu li li { background-color:#d2d2d2; }

.sf-menu li li a {
	border:none;
	color:#616562;
	padding:10px 12px !important;
}

.sf-menu > li > a:hover, .sf-menu > li.sfHover> a, .sf-menu > li.current-menu-item > a, .sf-menu > li.current_page_item > a {
	background-color:transparent;
	color:#fe5f57;
}

.sf-menu li li > a:hover, .sf-menu li li.sfHover > a, .sf-menu li li.current-menu-item > a, .sf-menu li li.current_page_item > a {
	background-color:#fe5f57;
	color:#fff;
}

.sf-menu a.sf-with-ul { padding-right:0; }

.sf-sub-indicator {
	right:50%;
	margin-right:-5px;
	background-image:url(/img/arrows-ffffff.png);
}

.sf-menu ul .sf-sub-indicator {
	right:5px;
	margin-right:0;
}

.sf-menu ul a > .sf-sub-indicator { top:12px; }


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Responsive
/*
/*****************************************************************************/

@media(max-width: 767px){
	.sf-menu{display:none;} 
	.select-menu{display: block;}
}

@media(min-width: 1200px) {
	.default-layout .main-holder {
		max-width: 1334px;
	}
}
