/*****************************************************************************/
/*
/* IE and WP Fix
/*
/*****************************************************************************/

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

/*****************************************************************************/
/*
/* Fonts
/*
/*****************************************************************************/

@import url(//fonts.googleapis.com/css?family=Asap:700,400);
@import url(http://fonts.googleapis.com/css?family=Lato:400,300);

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/montserrat-regular-webfont.eot');
    src: url('/fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/montserrat-regular-webfont.woff') format('woff'),
         url('/fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('/fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserratbold';
    src: url('/fonts/montserrat-bold-webfont.eot');
    src: url('/fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/montserrat-bold-webfont.woff') format('woff'),
         url('/fonts/montserrat-bold-webfont.ttf') format('truetype'),
         url('/fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'Outage';
	src: url('/fonts/outage-webfont.eot');
    src: url('/fonts/outage-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/outage-webfont.woff') format('woff'),
         url('/fonts/outage-webfont.ttf') format('truetype'),
         url('/fonts/outage-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Old Standard TT';
    src: url('/fonts/oldstandard-italic-webfont.eot');
    src: url('/fonts/oldstandard-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/oldstandard-italic-webfont.woff') format('woff'),
         url('/fonts/oldstandard-italic-webfont.ttf') format('truetype'),
         url('/fonts/oldstandard-italic-webfont.svg#old_standard_ttitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  color: #444;
}

body, html {
	font-size: 16px;
	line-height: 1.5em;
	color: #333;
	height: 100%;
	font-family: Lato, Arial, Helvetica, Sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
h2 { 
	margin-bottom: 30px;
	font: normal 31px/35px Asap;
	color: #343434; 
}
h4 {
	font-family: Montserratbold, Lato, Arial, Verdana, sans-serif;
}
h5 {
	font: normal 13px/18px Asap;
}

.hr {
	overflow: hidden;
	margin: 30px 0px;
	height: 1px;
	background: #ebebeb;
	font-size: 0;
	line-height: 0;
}

p { margin: 1em 0; }

a, a:visited { 
	color: #3498db;
	line-height: 1em;
	font-weight:normal;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
a:hover   { color: #e67e22; }

#content {
	padding: 73px 0 0 0;
}

.intro img {
	width: 150px;
	position:relative;
	left: 50%;
	margin-left: -75px;
}

.intro h4 {
	font-style: normal;
	text-align: center;
	margin-top:35px;
	margin-bottom:15px;
	font-size:1.8rem;
}

.intro h5 {
	font-family: "Lato", Arial, Verdana, sans-serif;
	font-weight: 300;
	line-height: 1.6em;
	font-size: 1.125em;
	padding: 0 25%;
}

@media (max-width: 768px) {
	.intro h5 {
		padding: 0 10%;
	}
}

.recent-pots h4 {
	font-style: normal;
	font-size: 1.125em;
	line-height: 1.50em;
	margin: 1em 0 0.5em 0;
}

.content-holder {
	padding-bottom: 59px;
}

.content-odd {
	background: #fbfcfd;
}

/*****************************************************************************/
/*
/* Default Layout
/*
/*****************************************************************************/

.default-layout .main-holder {
	background: #ffffff;
	max-width: 1104px;
	min-height: 100%;
	margin: 0 auto;
}

/*****************************************************************************/
/*
/* Nav
/*
/*****************************************************************************/

.navbar-default {
	background-color: #fff;
}

.navbar-default  .nav > li > a {
	font-family: Montserrat, Lato, Arial, Verdana, sans-serif;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
	font-size: 0.625em;
	font-weight: normal;
	padding: 0;
	margin: 0 15px;	
}

.navbar-default .navbar-brand {
	color: #333;
	line-height:70px;
	padding: 0 20px;
	font-size: 1.125em;
	font-family: "Old Standard TT", "Times New Romana", Georgia, serif;
}

.navbar-brand span {
	font-family: Outage, Arial, sans-serif;
}

.navbar-nav {
	height: 70px;
}

.navbar-toggle {
	margin-top:18px;
	margin-bottom:18px;
}

@media (min-width: 768px) {
	.navbar-nav.navbar-right:last-child {
		margin-right: 14px;
	}
	
	.navbar-default  .nav > li > a {
		height: 70px;
		line-height: 70px;
	}
	
	.navbar-default  .nav > li > a:hover {
		color: #e67e22;
	}
}


/*****************************************************************************/
/*
/* Border Bar
/*
/*****************************************************************************/

.border-bar {
	margin: 0;
	padding: 0;
	height: 7px;
}

.border-bar li {
	float: left;
	width: 20%;
	height: 7px;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li.yellow {
	background: #f1c40f;
}

li.orange {
	background: #e67e22;
}

li.green {
	background: #2ecc71;
}

li.blue {
	background: #3498db;
}

li.red {
	background: #e74c3c;
}

li.turquoise {
	background: #1abc9c;
}

li.purple {
	background: #a66bbe;
}

li.dark {
	background: #34495e;
}

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

.footer {
	padding: 0;
	border:none;
	background: #191818;
}

.footer .container {
	padding: 51px 0 20px 0;
}

footer .credits {
	text-align:center;
	font-size: 0.750em;
}

footer .credits a {
	color: #e98b39;
}

nav.footer-nav {
	margin-bottom: 0;
	overflow: hidden;
	text-align:center;
}

nav.footer-nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav.footer-nav ul li {
	display: inline;
	margin-right:20px;
}

nav.footer-nav ul li:last-child {
	margin-right: 0;
}

nav.footer-nav ul li a {
	color: #aaa;
	font-size:0.9em;	
}

nav.footer-nav ul li a:lastchild {
	margin-right: 0px;
}

nav.footer-nav ul li a:hover {
	text-decoration: underline;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  float: right;
	color: #888;
	margin-left: 10px;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Projects
/*
/*****************************************************************************/

.projects {
	margin: 0;
	padding: 0;
	list-style: none;
}

.projects li {
	padding: 0;
	margin: 0;
	position: relative;
}

.projects a {
	color: #444;
	display: block;
	border-bottom: 1px solid #DAE8EE;
	padding: 8px 2px;
	text-decoration: none;
}

.projects a:hover {
	background-color: #fbfcfd;
}

.projects .name {
	font-weight: normal;
	display: block;
	color: #000;
}

.projects a:hover .name {
	text-decoration: underline;
}

.projects .desc {
	display: block;
	margin: 0;
	font-size: 12px;
}

.projects .lang {
	position: absolute;
	right: 4px;
	top: 10px;
	background: #bbb;
	border-radius: 4px;
	color: #fff;
	padding: 2px 4px;
	font-size: 11px;
}

.project {
	margin: 40px 0;
}

.project img {
	width: 300px;
	float: left;
	-webkit-box-shadow: -1px 1px 5px rgba(50, 50, 50, 0.55);
	-moz-box-shadow: -1px 1px 5px rgba(50, 50, 50, 0.55);
	box-shadow: -1px 1px 5px rgba(50, 50, 50, 0.55);
	margin-right: 30px;
}

.project .info {
	text-align: justify;
}

/*****************************************************************************/
/*
/* Responsive
/*
/*****************************************************************************/

@media only screen and (min-width: 1400px) {
	body {
		font-size: 17px;
	}
}
