/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
	background-color: #fbfbfb;
	font: 13.34px Helvetica, Arial, sans-serif;
	font-size: small;
	text-align: center;
	background-image: url(/img/body-pattern.gif);
	background-repeat: repeat;
	background-position: top center;
	background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
h2 { 
	margin-bottom: 30px;
	font: normal 31px/35px Asap;
	color: #343434; 
}
h5 {
	font: normal 13px/18px Asap;
	color: #616562;
	text-transform: uppercase;
	margin-bottom: 17px;
}
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }


/*****************************************************************************/
/*
/* Default Layout
/*
/*****************************************************************************/

.default-layout .main-holder {
	background: #ffffff;
	max-width: 1104px;
	min-height: 100%;
	margin: 0 auto;
}

/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/

.header {
	background-color: transparent;
	padding-top: 59px;
	padding-bottom: 24px;
	position: relative;
	z-index: 99;
}

.header .container {
	border-bottom: 1px solid #d1d1d1;
	padding-bottom: 32px;
}

.social-nets-wrapper {
	float: right;
	padding: 10px 0 0 20px;
}

.social-nets-wrapper ul {
	margin: 0;
}

.social-nets-wrapper ul li:first-child {
	margin-left: 0;
}

.social-nets-wrapper ul li {
	list-style-type: none;
	float: left;
	margin-left: 6px;
}

.social-nets-wrapper ul li a {
	display: block;
}

.nav__primary {
	margin-bottom: 0;
	padding-top: 33px;
	margin-left: 0;
	list-style: none;
}

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

.footer {
	padding: 0;
	border:none;
}

.footer .container {
	border-top: 1px solid #d1d1d1;
	padding: 51px 0 60px 0;
}

/*****************************************************************************/
/*
/* Superfish
/*
/*****************************************************************************/

.sf-menu {
	float: right;
	line-height: 1.0;
}

.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}


.sf-menu  li {
	position: relative;
	float: left;
}

.sf-menu > li {
	background-color: transparent;
	margin-left: 40px;
	text-align:center;
}

.sf-menu > li:first-child {
	margin-left: 0;
}



/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}



/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Responsive
/*
/*****************************************************************************/

@media(max-width: 767px){
	.sf-menu{display:none;} 
	.select-menu{display: block;}
}

@media(min-width: 1200px) {
	.default-layout .main-holder {
		max-width: 1334px;
	}
}
