<ul class="border-bar">
	<li class="yellow"></li>
	<li class="orange"></li>
	<li class="green"></li>
	<li class="blue"></li>
	<li class="red"></li>
</ul>
<footer class="footer">
	<div class="container">		
		<div class="col-md-12">			  
			<nav class="nav footer-nav">
				<ul id="menu-footer-menu" class="menu">
					<li id="menu-item-1816" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1816"><a href="http://livedemo00.template-help.com/wordpress_47925/">Home</a></li>
					<li id="menu-item-1821" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1797 current_page_item menu-item-1821"><a href="http://livedemo00.template-help.com/wordpress_47925/about-us/">About Us</a></li>
					<li id="menu-item-1819" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1819"><a href="http://livedemo00.template-help.com/wordpress_47925/portfolio/">Popular Posts</a></li>
					<li id="menu-item-1817" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1817"><a href="http://livedemo00.template-help.com/wordpress_47925/blog/">Blog</a></li>
					<li id="menu-item-1818" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1818"><a href="http://livedemo00.template-help.com/wordpress_47925/contacts/">Contacts</a></li>
				</ul>		
			</nav>				
		</div>
	</div>
</footer>