<div id="footer">
	<ul class="border-bar">
		<li class="yellow"></li>
		<li class="orange"></li>
		<li class="green"></li>
		<li class="blue"></li>
		<li class="red"></li>
	</ul>
	<div class="container">		 
		<nav class="nav footer-nav">
			<ul id="menu-footer-menu" class="menu">
				<li><a href="/">Home</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Travel Blog</a></li>
				<li><a href="#">Projects</a></li>
				<li><a href="#">Designs</a></li>
				<li><a href="#">Hire Me</a></li>
			</ul>		
		</nav>				
		<p class="credits">Copyright © <script>document.write(new Date().getFullYear())</script> <a href="/">Skyler Beckman</a></p>
	</div>
</div>