<div class="header-wrapper">
	<div class="header">
		<header class="main" role="banner"><h1 class="animated fadeIn h5">
			<a href="http://www.letstravelsomewhere.com"><> Backpack Code</a></h1>
		</header>
		<div id="navigation_horiz">
			<ul id="nav" class="l_tinynav1 l_tinynav2">
				<li><a href="http://www.letstravelsomewhere.com/travel/travel-inspiration/" class="navlink freshinspiration mobilenav">Home</a></li>
				<li><a href="http://www.letstravelsomewhere.com/about" class="navlink about mobilenav">About</a></li>
				<li><a href="http://www.letstravelsomewhere.com/contact" class="navlink contact mobilenav">Contact</a></li>			
			</ul>
		</div>
	</div>
</div>