<header class="main">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-5">
				<!-- BEGIN LOGO -->
				<h1>
					<a href="/"><> BACKPACK CODE</a>
				</h1>
				<!-- END LOGO -->	
			</div>
			<div class="col-md-7">
				<div class="row">
					<!-- BEGIN MAIN NAVIGATION -->
					<nav class="nav nav__primary clearfix">
						<ul id="topnav" class="sf-menu">
						<li id="menu-item-1807" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-203 current_page_item"><a href="/">Home</a></li>
						<li id="menu-item-1810" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Blog</a></li>
						<li id="menu-item-1808" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Travel Blog</a></li>
						<li id="menu-item-1806" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Projects</a></li>
						<li id="menu-item-1804" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Hire Me</a></li>
						</ul>
					</nav><!-- END MAIN NAVIGATION -->							
				</div>
			</div>	
		</div>			
	</div>
</header>