<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} | {{ site.name }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
		
		<link href="/css/bootstrap.css" rel="stylesheet">
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="/js/superfish.js"></script>
		
		<script type="text/javascript">
		// Init navigation menu
		jQuery(function(){
		// main navigation init
			jQuery('ul.sf-menu').superfish({
				delay: 1000, // the delay in milliseconds that the mouse can remain outside a sub-menu without it closing
				animation: {
					opacity: "show",
					height: "show"
				}, // used to animate the sub-menu open
				speed: "normal", // animation speed 
				autoArrows: false, // generation of arrow mark-up (for submenu)
				disableHI: true // to disable hoverIntent detection
			});
		})
	</script>

    </head>
    <body class="default-layout">
		<div class="main-holder">
			{% include header.html %}
			<div class="site">
			  <div class="header">
				<h1 class="title"><a href="/">{{ site.name }}</a></h1>
				<a class="extra" href="/">home</a>
			  </div>

			  {{ content }}

			  <div class="footer">
				<div class="contact">
				  <p>
					Your Name<br />
					What You Are<br />
					you@example.com
				  </p>
				</div>
				<div class="contact">
				  <p>
					<a href="https://github.com/yourusername">github.com/yourusername</a><br />
					<a href="https://twitter.com/yourusername">twitter.com/yourusername</a><br />
				  </p>
				</div>
			  </div>
			</div>
		</div>
		
		

    </body>
</html>
